<div class ="footer">
        <small>
           A demo app for the <a href="http://onemonthrails.com">One Month Rails</a> class.
            </br> 
            SEH is the best.
        </small>
    </div>
